NODE_ENV = development

PORT = 5000

TOKEN_EXPIRE_MAX = 30d
TOKEN_EXPIRE_MIN = 24h

JWT_SECRET_ADMIN = @_+BASE$_+11+_$Project$_+03+_$Admin$_+2023+_@
JWT_SECRET_CLIENT = @_+BASE$_+11+_$Project$_+03+_$Client$_+2023+_@

BACKEND_URL = http://192.168.29.203:5000
FRONTEND_URL = http://192.168.29.203:3000

SENDGRID_EMAIL = 
SENDGRID_API_KEY = 

RAZORPAY_KEY = 
RAZORPAY_SECRET = 
RAZORPAY_WEBHOOKS_SECRET = 

STRIPE_PUBLISH_KEY = 
STRIPE_SECRET_KEY = 
STRIPE_WEBHOOKS_SECRET =